*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #efe4e0e0;
    overflow-x: hidden;
}

header{
    display:flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.banner{
    color:#49403a;
    text-align: center;
}

.publicidad{
    background-color: #cfced099;
    color: #4F453F;
    font-family: "Montserrat";
    text-align: center;
}

h2{
    color: #4F453F;
    font-family: "Montserrat";
    text-align: center;
}

.logo{
    display: inline-flex;
    width: 40%;
    height: 20%;
    row-gap: 50%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    list-style: none;
}

.menu a {
    color: #4F453F;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px 15px;
    border-color: #EBD8D0;
    background-color: #EBD8D0;
    border-radius: 7%;
    font-family: "Montserrat";
    opacity: 0.6;
}

a:hover{
    opacity: 1.0;
}

.bolsa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
}

.carrito {
    left: 95%;
    width: 12%;
}

.imagenPrincipal {
    width: 100%;
    height: 35%;
    top: 10px;
}

#grilla{
    display: grid;
    grid-template-areas:
    "accesoCuotas" 
    "accesoAccesorios"
    "accesoProducto";
    grid-template-rows: 30% 30% 30%; 
    justify-content: center;
}

#grilla a img:hover {
    opacity: 0.75;
}

.accesoCuotas{
    grid-area: accesoCuotas;
}

.accesoAccesorios{
    grid-area: accesoAccesorios;
}

.accesoProducto{
    grid-area: accesoProducto;
}

.grande {
    width: 70%;
    height: 90%;
    margin: 15%;
    border-radius: 3%;
    opacity: 1;
    object-fit: cover;
}

.chico {
    width: 70%;
    height: 94%;
    margin: 15%;
    border-radius: 3%;
    opacity: 1;
    object-fit: cover;
}

.adicionales {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Montserrat";
    color: #4F453F;
    gap: 35px;
}

.redes {
    text-align: center;
    align-items: center;
    font-family: "Montserrat";
    padding-top: 7.5%;
    padding-bottom: 2.5%;
}

.redes a{
    text-decoration: none;
}

.redes a img {
    width: 50px;
    padding-top: 2%;
    margin: 0 15px;
}

@media (min-width: 768px){
    .header {
        display: flex;
        top: 0px;
        align-items: center;
        gap: 145px;
    }

    .menu {
        width: 100%;
        display:inline-flex;
        flex-direction: unset;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        list-style: none;
    }

    .logo{
        display: inline-flex;
        width: 20%;
        height: 20%;
        row-gap: 50%;
    }

    #grilla{
        display: grid;
        grid-template-areas:
        "accesoCuotas accesoAccesorios"
        "accesoCuotas accesoProducto";
        grid-template-columns: 50% 50%;
    }

    .grande {
        width: 95%;
        height: 97%;
        margin: 5%;
        border-radius: 3%;
        opacity: 1;
        object-fit: cover;
    }

    .chico {
        width: 90%;
        height: 94%;
        margin: 5%;
        border-radius: 3%;
        opacity: 1;
        object-fit: cover;
    }

    .adicionales {
       display: flex;
       flex-direction: row;
       justify-content: center;
       flex-wrap: wrap;
    }
    
    #grilla-contacto{
        display: grid;
        grid-template-areas:
        "datos mapa"
        "datos mapa";
        grid-template-columns: 50% 50%;
    } 
}

#grilla-contacto{
    display: grid;
    grid-template-areas:
    "datos"
    "mapa";
    grid-template-rows: 70% 50%; 
}

.Novedades {
    color: #4F453F;
    font-family: "Montserrat";
    margin-top: 5%;
    text-align: center;
}

.Novedades form {
    text-align: center;
}

.Novedades h1{
    display: flex;
    justify-content: center;
}

.contacto{
    margin-left: 15%;
    color: #4F453F;
    font-family: "Montserrat";
    margin-top: 8%;
}

.suscripcion{
    display: flex;
    flex-direction: column;
	width: 33%;
	padding-left:34%;
	border-radius:10px;
	margin-top: 3%;
}

iframe{
    width: 80%;
    height: 75%;
    margin: 12%;
}

form.datos{
    border-radius:10px;
    margin: 16%;
}

form label{
	width:25%;
	font-weight:bold;
	display:inline-block;
    margin: 3%;
}

input[type=text], input[type=tel], input[type=email]{
   font-size: 25px;
   font-family: "Montserrat";
   border-radius: 5%;
}

input[type="submit" i]{
    border: 25px;
    margin-top: 10%;
    padding: 10px 25px;
    color: white;
    background-color: #4F453F;
    font-family: "Montserrat";
    border-radius: 5%;
}

.compras {
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: "Montserrat";
}

.compras h1{
    text-align: center;
    font-family: "Montserrat";
}

.compras img{
    width: 60%;
    height: 69%;
    top:80%;
}

.textoComoComprar {
    padding-top: 5%;
    font-family: "Montserrat";
    text-align: center;
}